#create_project{
    width: 60%;
    max-width: 700px;
    margin: 40px auto 60px auto;
    text-align: center;
}
h1#project_title{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 30px;
}
#member_button{
    width: 100%;
    margin: 15px auto 15px auto;
}
/**************************************************** INPUT STYLING ****************************************************/

/******************************* PLACEHOLDER *******************************/

::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    font-style: italic;
}
input {
    outline: none;
}

/******************************* SUBMIT BUTTONS *******************************/

#create_project p.button input{
    float: right;
    width: 150px;
    margin-right: -25px;
    cursor: pointer;
    background: #1da7cf;
    padding: 8px 5px;
    font-family: Arial,sans-serif;
    color: #fff;
    font-size: 18px;
    border: 1px solid rgb(28, 108, 122);
    margin-top: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.2s linear;
}
#create_project p.button input:hover{
    background: rgb(74, 179, 198);
}
#create_project p.button input:active,
#create_project p.button input:focus{
    background: rgb(40, 137, 154);
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.create.button{
    text-align: right;
}
/******************************* ALL INPUT *******************************/

#create_project input:not([type="checkbox"]){
    width: 90%;
    margin: 5px 10% 0;
    padding: 10px 5px 10px 20px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
#create_project input:not([type="checkbox"]):active,
#create_project input:not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}
#create_project textarea:not([type="checkbox"]){
    width: 90%;
    margin: 20px 10% 0;
    padding: 10px 5px 10px 20px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
#create_project textarea:not([type="checkbox"]):active,
#create_project textarea:not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}

#create_project #num_members{
    float:left;
    width: 80px;
    margin-top: 12px;
}