#profile
{
    width: 75%;
    min-width: 900px;
    margin: 100px auto 50px auto;
}
#profInformation{
    width:100%;
    display:inline-block;
}
#ava
{
    float:left;
    width: 170px;
    height: 200px;
    background-color: #badde9;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    display: inherit;
    cursor: pointer;
}
.avatar{
    width: 170px;
    height: 200px;
}
#personal_data
{
    float: left;
    display: inherit;
    width: 50%;
    margin: 0 25px 0 25px;
    padding: 0 15px 0 15px;
}
#personal_data h2{
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding: 5px 0 15px 0;

}
#about
{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #444;
}
#button
{
    float:right;
    width: 20%;
    display: inherit;
    text-align: center;
}
#button a
{
    text-decoration: none;
}
#button p#edit input{
    width: 180px;
    cursor: pointer;
    background: #5979d5;
    padding: 8px 5px;
    font-family: Arial,sans-serif;
    color: #fff;
    font-size: 18px;
    border: 1px solid rgb(28, 108, 122);
    margin-top: 30px;
    transition: all 0.2s linear;
}
#button p#edit input:hover{
    background: #1da7cf;
}

#information
{
    width: 100%;
    display: inline-block;
}

#contacts{
    float: left;
    display: inherit;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #444;
}
#statistics{
    float:right;
    display: inherit;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-align: center;
}
#statistics th,#statistics td{
    border-left: 1px solid #878787;
    border-right: 1px solid #878787;
    width: 100px;
    padding: 3px;
}
#statistics #complete{   width: 150px;  }

#projects
{
    width: 100%;
    display: inline-block;
}


#projectTable
{
    background-color: #e5e5e5;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;

}
#projectTable td, #projectTable th {
    padding: 10px;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #ffffff;
}
#projectTable th {
    border-top: none;
    font-weight: normal;
    text-align: left;
}
th#more_project{
    text-align: right;
}
#projectTable td:first-child, .users th:first-child {
    border-left: none;
}
#projectTable th:first-child {
    border-top-left-radius: 5px;
}
#projectTable th:last-child {
    border-top-right-radius: 5px;
}
#projectTable #project{
    width: 70%;
}
#projectTable td {
    text-align: left;
}
#more_project a{
    text-decoration: none;
    color: #000;
}
a#project_name{
    text-decoration: none;
    color: #4c9bd2;
    padding:10px;
}

#description
{
    padding:10px;
}