/*.projects {
    width: 75%;
    margin: 30px auto 10px auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #878787;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(105, 108, 109,  0.7);
    font-family: Arial,sans-serif;
    font-weight: normal;
}

tr:nth-child(2n+1) {
    background: #E8E8E8;
}
.projects td, .projects th {
    padding: 20px;
    border-left: 1px solid #878787;
    border-top: 1px solid #878787;
}
.projects th {
    border-top: none;
    background-color: #222;
    color: #ffffff;
}
.projects td:first-child, .projects th:first-child {
    border-left: none;
}
.projects th:first-child {
    border-top-left-radius: 5px;
}
.projects th:last-child {
    border-top-right-radius: 5px;
}
*/
.projects a{
    text-decoration: none;
    color: #000;
}

.projects h3{
   font-size: 20px;
   font-weight:normal;
   padding-bottom: 10px;
}

.description
{
    padding-bottom: 15px;
    color: #444;
}

.projects .date
{
    text-align: center;
}
.projects .members
{
    text-align: center;
}
/*
#left_arrow
{
    float:left;
    font-size: 18px;
}
#right_arrow
{
    float: right;
    font-size: 18px;
}*/

div#projects
{
    width: 75%;
    margin: 20px auto 30px auto;
}

.table > thead {
    background-color: #222;
    color: #ffffff;
    font-size: 18px;
}

.table-bordered{
    border-radius: 7px;
}

/******************************* SUBMIT BUTTONS *******************************/

p.create_project input{
    width: 200px;
    cursor: pointer;
    background: #1da7cf;
    padding: 8px 5px;
    font-family: Arial,sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin: 25px 40% 30px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.2s linear;
}
p.create_project input:hover{
    background: rgb(74, 179, 198);
}
p.create_project input:active,
p.create_project input:focus{
    background: rgb(40, 137, 154);
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.create_project{
    text-align: right;
    margin: 5px 0;
}