
/**************************************************** FORMS STYLING ****************************************************/

/******************************* FORMS *******************************/

.container{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

#container_forms{
    text-align: left;
    padding: 0;
    margin: 0 auto;
    font-family: Arial,sans-serif;
}

#register,
#login{
    position: absolute;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    box-shadow:
            0 0 3px rgba(105, 108, 109,  0.7),
            0 0 10px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
    border:1px solid #F0F0F0;
}

#wrapper{
    top: 50px;
    right: 0px;
    min-height: 560px;
    margin: 0px auto;
    width: 450px;
    position: relative;
}

#space {
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/******************************* TEXT & LINKS *******************************/

p.error {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ff0018;
    margin-top: 5px;
    visibility: hidden;
}

#wrapper h1{
    font-size: 34px;
    color: #000000;
    padding: 2px 0 20px 0;
    font-family: 'FranchiseRegular',Arial,sans-serif;
    font-weight: normal;
    text-align: center;
}

a.change_forms{
    display: none;
}

p.change_link{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #696969;
    margin-bottom: 20px;
}
#wrapper p.change_link a {
    text-decoration: none;
    padding-left: 5px;
    color: #1da7cf;
}

/**************************************************** INPUT STYLING ****************************************************/

/******************************* PLACEHOLDER *******************************/

::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    font-style: italic;
}
input {
    outline: none;
}

/******************************* SUBMIT BUTTONS *******************************/

#wrapper p.button input{
    width: 50%;
    left: 50%;
    cursor: pointer;
    background: #1da7cf;
    padding: 8px 5px;
    font-family: Arial,sans-serif;
    color: #fff;
    font-size: 24px;
    border: 1px solid rgb(28, 108, 122);
    margin: 25px 20% 30px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.2s linear;
}
#wrapper p.button input:hover{
    background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
    background: rgb(40, 137, 154);
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
    text-align: right;
    margin: 5px 0;
}
/******************************* ALL INPUT *******************************/

#wrapper input:not([type="checkbox"]){
    width: 80%;
    margin: 5px 10% 0;
    padding: 10px 5px 10px 20px;
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}

/****************************************************** ANIMATION ******************************************************/

#register{
    z-index: 21;
    opacity: 0;
}
#login{
    z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
    z-index: 22;
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -ms-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    -ms-animation-delay: .1s;
    animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
    -webkit-animation-name: fadeOutLeft;
    -moz-animation-name: fadeOutLeft;
    -ms-animation-name: fadeOutLeft;
    -o-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

.animate{
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;

    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;

    -o-animation-duration: 0.5s;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;

    -ms-animation-duration: 0.5s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

/************************************************* FB & GOOGLE BUTTONS *************************************************/

/******************************* GOOGLE BUTTON *******************************/
div#customBtn {
    display: inline-block;
    background: #ee0808;
    color: #444;
    width: 140px;
    margin-right: 30px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    float: right;
}
div#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-size: 10px;
    vertical-align: middle;
}
span.icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-right: 42px;
    font-size: 10px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

/******************************* FACEBOOK BUTTON *******************************/

a#fbButton{
    text-decoration: none;
    position: absolute;
    display: inline-block;
    margin-left: 30px;
    background: #122faf;
    color: #444;
    width: 150px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    float: left;
}

.fb {
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: #ffffff;
}
.intr {
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #ffffff;
}

/***********************************************************************************************************************/