    <!--
    This file is part of Teammer.

    Teammer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, version 3.

    Teammer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Teammer.  If not, see <http://www.gnu.org/licenses/>.
    -->

<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/CreateProject.css' %}">

    <script type = "text/javascript" src = "{% static 'js/jquery-2.2.1.min.js' %}"></script>

    <title>Create Project</title>
</head>

<body>

<div class = "main">

    <!--************************************* HEADER *************************************-->

    <div class = "main">
        <div id="status-bar">
            <div id="status-bar-content">
                <h1 id = "Emblem"><a href="{% url 'backend.views.index' %}" title="Teammer">Teammer</a></h1>
                <div id="status-bar-commands">
                    <p id="action-bar">
                        <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                        <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                        <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                        <a href="{% url 'backend.views.about' %}" title="About">About</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'backend.views.logout' %}" title="Logout">Logout</a>
                        {% else %}
                            <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

    <!--*************************************************** CREATE PROJECT ***************************************************--><form action="{% url 'backend.views.register_project' %}" method="post">
        <form action="{% url 'backend.views.register_project' %}" method="post">
            {% csrf_token %}
        <table id="create_project" >
            <tr>
                <td colspan="2">
                    <input id="project_name" name="project_name" required="required" type="text" placeholder="Name your project"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h1 id = "description">Project description</h1>
                    <textarea rows="20" cols="100" name="description" required="required" placeholder="Describe your project"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h1 >Skills required</h1>
                    <textarea rows="2" cols="100" name="skills" required="required" type="text" placeholder="Describe skills the are required"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2"><h1>Team</h1></td>
            </tr>
            <tr id="member_button">
                <td>
                    <input id="num_members" name="num_members" required="required" type="number" min="2" step="1" placeholder="Members"/>
                </td>
                <td>
                     <p id = "create" class="create button">
                        <input type="submit" value="Create Project"/>
                     </p>
                </td>
            </tr>
        </table>
    </form>
    <div class = "h_footer"></div>
</div>
<!--************************************* FOOTER *************************************-->

<div id="f-status-bar">
    <div id="f-status-bar-content">
        <p id="license">© 2016 Teammer</p>
        <div id="f-status-bar-commands">
            <p id="f-action-bar">
                <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                <a href="{% url 'backend.views.about' %}" title="About">About</a>
                {% if user.is_authenticated %}
                <a href="{% url 'backend.views.logout' %}" title="Logout">Logout</a>
                {% else %}
                <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

</body>
</html>