<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/EditProfile.css' %}">

    <script type = "text/javascript" src = "{% static 'js/jquery-2.2.1.min.js' %}"></script>

    <title>Edit Profile</title>
</head>

<body>

<div class = "main">

    <!--************************************* HEADER *************************************-->

        <div id="status-bar">
            <div id="status-bar-content">
                <h1 id = "Emblem"><a href="{% url 'backend.views.index' %}" title="Teammer">Teammer</a></h1>
                <div id="status-bar-commands">
                    <p id="action-bar">
                        <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                        <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                        <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                        <a href="{% url 'backend.views.about' %}" title="About">About</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'backend.views.logout' %}" title="Logout">Logout</a>
                        {% else %}
                            <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

    <!--*************************************************** CREATE PROJECT ***************************************************-->

    <div id="create_project" >
        <h1 id="project_title">Edit profile</h1>
        <form method="post" action="{% url 'backend.views.profile_apply_changes' user.id %}">
            {% csrf_token %}
            <div>
                <input id="username" name="username" required="required" type="text" placeholder="Enter your name" value="{{ user.username }}"/>
            </div>
            <div>
                <input id="email" name="email" required="required" type="text" placeholder="Enter your email" value="{{ user.email }}"/>
            </div>
            <div>
                <input id="phone" name="phone" required="required" type="text" placeholder="Enter your phone number" value="{{ user.userinfo.phone }}"/>
            </div>
            <div>
                <textarea rows="20" cols="100" name="description" required="required" placeholder="Personal data">{{ user.userinfo.description }}</textarea>
            </div>
            <div>
                <input id="country" name="country" required="required" type="text" placeholder="Country" value="{{ user.userinfo.country }}"/>
            </div>

            <p id = "create" class="create button">
                <input type="submit" value="Submit Changes"/>
            </p>
        </form>
    </div>

    <div class = "h_footer"></div>
</div>
<!--************************************* FOOTER *************************************-->

<div id="f-status-bar">
    <div id="f-status-bar-content">
        <p id="license">© 2016 Teammer</p>
        <div id="f-status-bar-commands">
            <p id="f-action-bar">
                <a href="index.html" title="Home">Home</a>
                <a href="Projects.html" title="Projects">Projects</a>
                <a href="Users.html" title="Users">Users</a>
                <a href="About.html" title="About">About</a>
                {% if user.is_authenticated %}
                <a href="{% url 'backend.views.logout' %}" title="Logout">Logout</a>
                {% else %}
                <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

</body>
</html>