<!DOCTYPE html>

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/Profile.css' %}">


    <script type = "text/javascript" src = "{% static 'js/jquery-2.2.1.min.js' %}"></script>

    <title>Profile</title>
</head>

<body>
<!--************************************* HEADER *************************************-->

    <div class = "main">
        <div id="status-bar">
            <div id="status-bar-content">
                <h1 id = "Emblem"><a href="index.html" title="Teammer">Teammer</a></h1>
                <div id="status-bar-commands">
                    <p id="action-bar">
                        <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                        <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                        <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                        <a href="{% url 'backend.views.about' %}" title="About">About</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'backend.views.logout' %}" title="Logout">Logout</a>
                        {% else %}
                            <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

    <!--************************************* PROFILE *************************************-->
    <div id = "profile">

        <div id = "profInformation">

            <div id = "ava">
                <img class='avatar' src="{% static user.userinfo.photo %}" alt="">
            </div>

            <div id = "personal_data">
                <h2>{{ user.username }}</h2>

                <p id = "about">
                    {{ user.userinfo.description }}
                </p>
            </div>

            <div id ="button">
                <p id = "edit">
                    <input type="submit" value = "SEND MESSAGE" />
                </p>
            </div>
        </div>

        <div id = "information">
            <div id = "contacts">
                <p>email: {{user.email}}</p>
                <p>phone: {{user.userinfo.phone}}</p>
                <p>country: {{user.userinfo.country}}</p>
            </div>

            <table id = "statistics">
                <tr> <th>Total</th> <th id = "complete">Completed</th> <th>Rate</th> </tr>
                <tr> <td>10</td> <td>10</td> <td>100%</td> </tr>
            </table>
        </div>

        <div id = "projects">
            <table id = "projectTable">
                <tr>
                    <th id ="project">Projects</th>
                    <th id = "more_project"><a href = "#" title = "MoreProject" >More projects</a></th>
                </tr>
                {% for project in user.project_set.all %}

                    <tr class='line'>
                        <td>
                            <a href="{% url 'backend.views.project' project.id %}" title='Project Name' id='project_name'>{{project.project_name}}</a>
                            <p id='description'>
                                {{project.description}}
                            </p>
                        </td>
                    </tr>

                {% endfor %}

                <!--
                <script>
                    for(var i =0; i < 3; ++i){
                        document.write("<tr class='line'><td><a href='#' title='Project Name' id='project_name'>Project name</a>" +
                                "<p id='description'>been the specimen book. been the specimen book. been the specimen book." +
                                " been the specimen book.</p></td><td></td>");
                    }
                </script>
                -->
            </table>
        </div>

    </div>

    <div class = "h_footer"></div>
</div>
<!--************************************* FOOTER *************************************-->

<div id="f-status-bar">
    <div id="f-status-bar-content">
        <p id="license">© 2016 Teammer</p>
        <div id="f-status-bar-commands">
            <p id="f-action-bar">
                <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                <a href="{% url 'backend.views.about' %}" title="About">About</a>
                <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>