<!DOCTYPE html>

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/Profile.css' %}">


    <script type = "text/javascript" src = "{% static 'js/jquery-2.2.1.min.js' %}"></script>

    <title>Profile</title>
</head>

<body>
<!--************************************* HEADER *************************************-->

<div class = "main">
    <div id="status-bar">
        <div id="status-bar-content">
            <h1 id = "Emblem"><a href="index.html" title="Teammer">Teammer</a></h1>
            <div id="status-bar-commands">
                <p id="action-bar">
                    <a href="{% url 'Teammer.views.index' %}" title="Home">Home</a>
                    <a href="{% url 'Teammer.views.projects' %}" title="Projects">Projects</a>
                    <a href="{% url 'Teammer.views.users' %}" title="Users">Users</a>
                    <a href="{% url 'Teammer.views.about' %}" title="About">About</a>
                    <a href="{% url 'Teammer.views.sign_in' %}" title="Sign in">Sign in</a>
                </p>
            </div>
        </div>
    </div>

    <!--************************************* PROFILE *************************************-->
    <div id = "profile">

        <div id = "profInformation">

            <div id = "ava">
                <img class='avatar' src="{% static 'img/avatar.png' %}" alt="">
            </div>

            <div id = "personal_data">
                <h2>Katherine Kuan</h2>

                <p id = "about">
                    Ph.D plus 8 years of industry experience, specializing in touch sensing, image and video processing algorithms.
                    <br>
                    Proven record of successfully delivering algorithms that were used by customers and went to mass production.
                    <br>
                    Experience in working with customers, as well as different internal engineering teams.
                    <br>
                    Strong analytical and problem solving skills.
                    <br>
                    Hands-on experience working with embedded systems.
                </p>
            </div>

            <div id ="button">
                <p id = "edit">
                    <input type="submit" value = "EDIT PROFILE" />
                </p>
            </div>
        </div>

        <div id = "information">
            <div id = "contacts">
                <p>email: katherine.kuan@gmail.com</p>
                <p>phone: 89276190531</p>
                <p>country: Canada</p>
            </div>

            <table id = "statistics">
                <tr> <th>Total</th> <th id = "complete">Completed</th> <th>Rate</th> </tr>
                <tr> <td>10</td> <td>10</td> <td>100%</td> </tr>
            </table>
        </div>

        <div id = "projects">
            <table id = "projectTable">
                <tr>
                    <th id ="project">Projects</th>
                    <th id = "more_project"><a href = "#" title = "MoreProject" >More projects</a></th>
                </tr>

                <script>
                    for(var i =0; i < 3; ++i){
                        document.write("<tr class='line'><td><a href='#' title='Project Name' id='project_name'>Project name</a>" +
                                "<p id='description'>been the specimen book. been the specimen book. been the specimen book." +
                                " been the specimen book.</p></td><td></td>");
                    }
                </script>
            </table>
        </div>

    </div>

    <div class = "h_footer"></div>
</div>
<!--************************************* FOOTER *************************************-->

<div id="f-status-bar">
    <div id="f-status-bar-content">
        <p id="license">© 2016 Teammer</p>
        <div id="f-status-bar-commands">
            <p id="f-action-bar">
                <a href="{% url 'Teammer.views.index' %}" title="Home">Home</a>
                <a href="{% url 'Teammer.views.projects' %}" title="Projects">Projects</a>
                <a href="{% url 'Teammer.views.users' %}" title="Users">Users</a>
                <a href="{% url 'Teammer.views.about' %}" title="About">About</a>
                <a href="{% url 'Teammer.views.sign_in' %}" title="Sign in">Sign in</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>