<!DOCTYPE html>

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/Project.css' %}">


    <script type = "text/javascript" src = "{% static 'css/js/jquery-2.2.1.min.js' %}"></script>

    <title>Project</title>
</head>

<body>
<!--************************************* HEADER *************************************-->

<div class = "main">
    <div id="status-bar">
        <div id="status-bar-content">
            <h1 id = "Emblem"><a href="index.html" title="Teammer">Teammer</a></h1>
            <div id="status-bar-commands">
                <p id="action-bar">
                    <a href="{% url 'Teammer.views.index' %}" title="Home">Home</a>
                    <a href="{% url 'Teammer.views.projects' %}" title="Projects">Projects</a>
                    <a href="{% url 'Teammer.views.users' %}" title="Users">Users</a>
                    <a href="{% url 'Teammer.views.about' %}" title="About">About</a>
                    <a href="{% url 'Teammer.views.sign_in' %}" title="Sign in">Sign in</a>
                </p>
            </div>
        </div>
    </div>

    <!--************************************* PROFILE *************************************-->
    <h2>Web ePub Reader</h2>

    <table class="project">
        <tr><td id="first_line"><p id="Open" class="status">Open</p>   <p id="Close" class="status">Close</p></td></tr>

        <tr>
            <td>
                <h3>Project description</h3>
                <p class = "description">
                    We have a project which is about developing a proof of concept (POC) of a web based .epub reader. It is mandatory for the reader to render the ePub files on all kind of devices, OS and browsers:
                    - Devices - mobile, tablet, desktop
                    - OS - Windows, Mac, Chromebook, Ubuntu
                    - Browsers - Chrome, Safari, Firefox, IE 9+, Opera
                    <br><br>
                    Here is a Brief info on the project:<br>
                    https://docs.google.com/document/d/1CFY0lSXSpDLBLeYgmy67s6OlP9t4ZEgN-tcohYJGe3c/edit?usp=sharing
                    <br><br>
                    Please suggest on what technologies do you suggest to use for the development. We can suggest these, but you are welcome to suggest others:
                    - ePub.js
                    - Monocle (https://github.com/joseph/Monocle)
                    - Custom solution where the epub format is “converted” - for example the HTML/CSS content is extracted from the files and displayed as part of the reader’s HTML page
                    <br><br>
                    Here is what has been done by now by our internal developer with ePub.js (It is not mandatory to proceed with ePub.js library): epub.rainbowriders.dk
                    <br><br>
                    The main issues that we have by now are:
                    - It takes a lot of time to generate the total number of pages , which makes the overall performance of the viewer too slow
                    - The solution still doesn’t work on IE9+
                    - The library doesn’t seem flexible enough for the features in the POC phase 2

                </p>
            </td>
        </tr>

        <tr>
            <td>
                <h3>Skills required</h3>
                <p class = "skills_required">
                    CSS, HTML5, Javascript
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <h3>Team (4/4)</h3>
                <table class = "team">
                    <tr>
                        <td class = "nickname"><a href="Profile.html" class ="profile" alt="">Jessica Lin</a></td>
                        <td class = "nickname"><a href="Profile.html" class ="profile" alt="">Jeremy Silver</a></td>
                        <td class = "nickname"><a href="Profile.html" class ="profile" alt="">Katherine Kuan</a></td>
                        <td class = "nickname"><a href="Profile.html" class ="profile" alt="">Chris Lei</a></td>
                    </tr>
                    <tr>
                        <td class = "photo"><a href="Profile.html" class ="profile" alt="">
                            <img class='ava' src="{% static 'img/ava1.jpg' %}" alt=""></a></td>
                        <td class = "photo"><a href="Profile.html" class ="profile" alt="">
                            <img class='ava' src="{% static 'img/ava2.jpg' %}" alt=""></a></td>
                        <td class = "photo"><a href="Profile.html" class ="profile" alt="">
                            <img class='ava' src="{% static 'img/ava3.jpg' %}" alt=""></a></td>
                        <td class = "photo"><a href="Profile.html" class ="profile" alt="">
                            <img class='ava' src="{% static 'img/ava4.jpg' %}" alt=""></a></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

    <div class = "h_footer"></div>
</div>
<!--************************************* FOOTER *************************************-->

<div id="f-status-bar">
    <div id="f-status-bar-content">
        <p id="license">© 2016 Teammer</p>
        <div id="f-status-bar-commands">
            <p id="f-action-bar">
                <a href="{% url 'Teammer.views.index' %}" title="Home">Home</a>
                <a href="{% url 'Teammer.views.projects' %}" title="Projects">Projects</a>
                <a href="{% url 'Teammer.views.users' %}" title="Users">Users</a>
                <a href="{% url 'Teammer.views.about' %}" title="About">About</a>
                <a href="{% url 'Teammer.views.sign_in' %}" title="Sign in">Sign in</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>