<!DOCTYPE html>

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/Project.css' %}">


    <script type = "text/javascript" src = "{% static 'css/js/jquery-2.2.1.min.js' %}"></script>

    <title>Project</title>
</head>

<body>
<!--************************************* HEADER *************************************-->

    <div class = "main">
        <div id="status-bar">
            <div id="status-bar-content">
                <h1 id = "Emblem"><a href="index.html" title="Teammer">Teammer</a></h1>
                <div id="status-bar-commands">
                    <p id="action-bar">
                        <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                        <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                        <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                        <a href="{% url 'backend.views.about' %}" title="About">About</a>
                        <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
                    </p>
                </div>
            </div>
        </div>

    <!--************************************* PROFILE *************************************-->
    <h2>{{ project_name }}</h2>

    <table class="project">
        <tr><td id="first_line">
                <p class="apply_project">
                    <a href = "{% url 'backend.views.apply_project' project_q.id %}"><input type="submit" value="Apply Project"/> </a>
                </p>
            <p id="Open" class="status">Open</p>   <p id="Close" class="status">Close</p></td></tr>

        <tr>
            <td>
                <h3>Project description</h3>
                <p class = "description">
                    {{ description }}
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <h3>Skills required</h3>
                <p class = "skills_required">
                    {{ skills }}
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <h3>Team ({{ cur_number }}/{{ max_number }})</h3>
                <table class = "team">
                    <tr>
                        {% for member in members %}
                        <td class = "nickname"><a href="Profile.html" class ="profile" alt="">{{ member.first_name }} {{ member.last_name }}</a></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for photo in photos %}
                        <td class = "photo"><a href="Profile.html" class ="profile" alt="">
                            <img class='ava' src="{% static '{{ member.photo }}' %}" alt=""></a></td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>

    </table>

    <div class = "h_footer"></div>
</div>
<!--************************************* FOOTER *************************************-->

<div id="f-status-bar">
    <div id="f-status-bar-content">
        <p id="license">© 2016 Teammer</p>
        <div id="f-status-bar-commands">
            <p id="f-action-bar">
                <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                <a href="{% url 'backend.views.about' %}" title="About">About</a>
                <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>