<!DOCTYPE html>

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/jquery.dataTables.css">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/Users.css' %}">
    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">

    <script type = "text/javascript" src = "{% static 'js/jquery-2.2.1.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/table.js' %}"></script>
    <title>Users</title>
</head>

<body>
<!--************************************* HEADER *************************************-->

    <div class = "main">
        <div id="status-bar">
            <div id="status-bar-content">
                <h1 id = "Emblem"><a href="index.html" title="Teammer">Teammer</a></h1>
                <div id="status-bar-commands">
                    <p id="action-bar">
                        <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                        <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                        <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                        <a href="{% url 'backend.views.about' %}" title="About">About</a>
                        <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
                    </p>
                </div>
            </div>
        </div>

    <!--************************************* USERS TABLE *************************************-->

    <div id="tab">
        <table class = 'users'>
        <thead><tr><th>#</th><th>Nickname</th><th>Completed projects</th><th>Abondonned projects</th></tr></thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class='number'> {{forloop.counter}} </td>
                    <td class='uname'>
                        <a href="{% url 'backend.views.profile' user.id %}" class='person'>{{ user.username }}</a>
                    </td>
                    <td class='amount'>m</td>
                    <td class='amount'>k</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        <!--
        <script>GenericTable()</script>
        -->
        <script>
            $(document).ready(function() {
                $('#users').DataTable( {
                    "pagingType": "full_numbers"
                } );
            } );
        </script>
    </div>

    <div class = "h_footer"></div>
</div>
<!--************************************* FOOTER *************************************-->

<div id="f-status-bar">
    <div id="f-status-bar-content">
        <p id="license">© 2016 Teammer</p>
        <div id="f-status-bar-commands">
            <p id="f-action-bar">
                <a href="{% url 'backend.views.index' %}" title="Home">Home</a>
                <a href="{% url 'backend.views.projects' %}" title="Projects">Projects</a>
                <a href="{% url 'backend.views.users' %}" title="Users">Users</a>
                <a href="{% url 'backend.views.about' %}" title="About">About</a>
                <a href="{% url 'backend.views.sign_in' %}" title="Sign in">Sign in</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>