<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Education, Course, OpenEdu" />
    <meta name="description" content="OpenEdu is free site for group work at different projects" />
    <meta name="author" content="Afonichkin Ivan, Kuts Nikita, Trenzenok Vladimir, Ivanov-Inin Dmitry" />
    <meta name="robots" content="all" />

    <LINK rel="stylesheet" media="screen" type="text/css" title="Style" href="{% static 'css/style.css' %}">
    <LINK rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <LINK rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <LINK rel="stylesheet" href="{% static 'css/liCover.css' %}">

    <script type = "text/javascript" src = "{% static 'js/jquery-2.2.1.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/jquery.liCover.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/owl.carousel.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/script.js' %}"></script>

    <title>Teammer</title>

</head>

<body>

    <!--************************************* HEADER *************************************-->

 <div class = "main">
    <div id="status-bar">
        <div id="status-bar-content">
            <h1 id = "Emblem"><a href="index.html" title="Teammer">Teammer</a></h1>
            <div id="status-bar-commands">
                <p id="action-bar">
                    <a href="{% url 'Teammer.views.index' %}" title="Home">Home</a>
                    <a href="{% url 'Teammer.views.projects' %}" title="Projects">Projects</a>
                    <a href="{% url 'Teammer.views.users' %}" title="Users">Users</a>
                    <a href="{% url 'Teammer.views.about' %}" title="About">About</a>
                    <a href="{% url 'Teammer.views.sign_in' %}" title="Sign in">Sign in</a>
                </p>
            </div>
        </div>
    </div>

    <!--************************************* SLIDER *************************************-->

    <div id="slider" class="owl-carousel">
        <div class="slide">
            <img src="{% static 'img/1.jpg' %}" alt="">
        </div>
        <div class="slide">
            <img src="{% static 'img/2.jpg' %}" alt="">
        </div>
    </div>

    <!--************************************* BLOCKS *************************************-->

    <div style = "width: 100%; height: 1px; clear: both;"></div>

    <div id = "blocks">

        <div id = "block1">
            <h2> <a href="#title1" title="Title1">Title</a></h2>
            <p class = "content">
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                specimen book.Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                specimen book.
            </p>
        </div>

        <div id = "block2">
            <h2> <a href="#title2" title="Title2">Title</a></h2>
            <p class = "content">
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                specimen book.Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                specimen book.
            </p>
        </div>

        <div id = "block3">
            <h2> <a href="#title3" title="Title3">Title</a></h2>
            <p class = "content">
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                specimen book.Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                specimen book.
            </p>
        </div>
    </div>

    <div style = "width: 100%; height: 1px; clear: both;"></div>

     <div class = "h_footer"></div>
</div>

    <!--************************************* FOOTER *************************************-->

    <div id="f-status-bar">
        <div id="f-status-bar-content">
            <p id="license">© 2016 Teammer</p>
            <div id="f-status-bar-commands">
                <p id="f-action-bar">
                    <a href="{% url 'Teammer.views.index' %}" title="Home">Home</a>
                    <a href="{% url 'Teammer.views.projects' %}" title="Projects">Projects</a>
                    <a href="{% url 'Teammer.views.users' %}" title="Users">Users</a>
                    <a href="{% url 'Teammer.views.about' %}" title="About">About</a>
                    <a href="{% url 'Teammer.views.sign_in' %}" title="Sign in">Sign in</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>