#create_project{
    width: 60%;
    max-width: 700px;
    margin: 40px auto 60px auto;
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 3px;
}
#create_project tr{
    border-top: 1px solid #f8f8f8;
}
#create_project tr:last-child {
    border: none;
}
#create_project tr:first-child{
    border: none;
    background-color: #f8f8f8;
    text-align: left;
}

#create_project h1{
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 15px 5% 10px;
    padding-left: 5px;
}
#create_project h1#description{
    margin-top: 28px;
}
/**************************************************** INPUT STYLING ****************************************************/

/******************************* PLACEHOLDER *******************************/

::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: rgb(190, 188, 188);
    font-style: italic;
}
input {
    outline: none;
}

/******************************* SUBMIT BUTTONS *******************************/

#create_project p.button input{
    float: right;
    width: 150px;
    margin: 5px 20% 30px;
    cursor: pointer;
    background: #1da7cf;
    padding: 8px 5px;
    font-family: Arial,sans-serif;
    color: #fff;
    font-size: 18px;
    border: 1px solid rgb(28, 108, 122);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.2s linear;
}
#create_project p.button input:hover{
    background: rgb(74, 179, 198);
}
#create_project p.button input:active,
#create_project p.button input:focus{
    background: rgb(40, 137, 154);
    top: 1px;
    border: 1px solid rgb(12, 76, 87);
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.create.button{
    text-align: right;
}
/******************************* ALL INPUT *******************************/

#create_project input{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px 10px 20px;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
    background-color: #f8f8f8;
}
#create_project input#project_name{
    width: 100%;
    background-color: #f8f8f8;
    font-size: 27px;
    font-weight: bold;
    color: #8f918f;
    padding: 10px 0 10px 0;
}
#create_project input:active,
#create_project input:focus{
    border: 1px solid rgba(91, 90, 90, 0.01);
    background: rgba(238, 236, 240, 0.2);
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.1) inset;
}
#create_project textarea{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px 10px 20px;
    border: 1px solid #e5e5e5;
    box-sizing : content-box;
    border-radius: 3px;
    background-color: #e5e5e5;
}
#create_project textarea:active,
#create_project textarea:focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.5) inset;
}
#create_project textarea:required,
#create_project input:required{
    box-shadow: none;
}
#create_project #num_members{
    float:left;
    width: 80px;
    margin: 5px 15% 30px;
    border: 1px solid rgb(178, 178, 178);
}
