@import url('reset.css');

html {
    height: 100%;
}
body {
    background-color: #f8f8f8;
    margin: auto;
    height: 100%;
    width: 100%;
}
.main {
    min-height: 100%;
}

/******************************* HEADER *******************************************************/

div#status-bar {
    background-color: #f8f8f8;
    z-index: 9999;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(168, 168, 168, 0.6);
}

div#status-bar-content {
    margin: 0 auto 0 auto;
    padding-top: 25px;
    width: 900px;
}

div#status-bar-commands {
    float: right;
    margin-right: -20px;
}

p#action-bar {
    height: 14px;
    padding: 10px 30px;
}
p#action-bar a{
    padding:20px;
    color: #000000;
    font-family: Arial,sans-serif ;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

p#action-bar a:hover {
    text-decoration: underline;
    color: #696969;  /* #708090  #2F4F4F */
}

h1#Emblem a{
    float: left;
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #1da7cf;
    text-decoration: none;
}

/******************************* SLIDER *******************************************************/

#slider, .slide {height: 400px; width: 100%;}

/******************************* BLOCKS *******************************************************/

div#blocks {
    width: 900px;
    margin: 50px auto 0 auto;
    text-align: center;
}
div#block1 {
    width: 200px;
    display: inline-block;
    float: left;
    text-align: left;
}
div#block2 {
    width: 200px;
    display: inline-block;
    float: left;
    margin-left: 150px;
    text-align: left;
}
div#block3 {
    width: 200px;
    display: inline-block;
    float: right;
    text-align: left;
}

h2 {
    margin-bottom: 10px;
}
h2 a{
    color: #000;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
}
.content {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

/******************************* FOOTER *******************************************************/

.h_footer {
    height: 80px;
}

div#f-status-bar{
    width: 100%;
    background-color: #1da7cf;
    height: 80px;
    margin-top: -80px;
}

div#f-status-bar-content {
    padding-top: 20px;
    margin: 40px auto 0 auto;
    width: 900px;

}

div#f-status-bar-commands {
    float: left;
    margin-left:-20px;
}

p#license {
    float:right;
    padding-top: 20px;
    width: 100px;
    color: #f8f8f8;
    font-family: Arial,sans-serif ;
    font-size: 12px;
    font-weight: normal;
}

p#f-action-bar {
    height: 14px;
    padding-top: 20px;
}

p#f-action-bar a{
    padding: 20px;
    color: #f8f8f8;
    font-family: Arial,sans-serif ;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

p#f-action-bar a:hover {
    text-decoration: underline;
    color: #0000FF  /*  #6495ED */
}

/*******************************************************************************************************/